# python
__pycache__/
*.egg-info/
dist/
build/

# sphinx
docs/_build/

# node
task-test/static/node_modules

# cypress
task-test/static/cypress/plugins/
task-test/static/cypress/support/
task-test/static/cypress/videos/

# scratch/development
.scratch
