{% extends "base.html" %}

{% block content %}

    <form method="{{ request_params['method'] }}" action="{{ request_params['ac_success_url'] }}">
        <input type='hidden' name="lang" value="ru" />

        {% for param, value in request_params.items() %}
            {% if (param[0:3] == 'ac_') %}
                <input type='hidden' name="{{ param }}" value="{{ value }}"/> 
            {% endif %}
        {% endfor %}

        <!-- <input name="referer" value=" https://payeer.com/merchant/?m_historyid=558274963&m_historytm=1525080667&m_curorderid=68685634 &lang=ru"/> -->
        <hr class="my-4"> <br>

        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                    <h2>Checkout form</h2>
                    <input class="w-100 btn btn-primary btn-lg" type="submit"/> 

                </div>
            </main>
        </div>

    </form>

{% endblock %}
